/** LATER how to apply them as a theme? */


.ct-kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: #333333;
    background-color: #DDDDDD;
    border-radius: .2rem;
}

.ct-kbd2 {
    color: #CCCCCC;
    background-color: #444444;
}

/* apply it on entire editor for now */
.ct-root {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'Gentium Book Basic', serif;
  font-size: 18px;
}


.ct-scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.ct-scroll::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
.ct-scroll:-webkit-scrollbar-thumb {
    background: #5A637580;
}

/* Handle on hover */

.ct-scroll::-webkit-scrollbar-thumb:hover {
    background: #747D9180;
}



.ct-content {
    margin-bottom: 0.5rem;
}

::selection {
    background: #d8617488;
}

.ct-code-pre {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 70%;
    white-space: pre-wrap;
    margin-bottom : 0px;
}

.ct-sans {
  font-family: sans-serif;
  font-size: 95%;
}

.ct-code {
    font-style: normal;
    font-weight:normal;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 85%;
    color: #f0c5ce;
}

.ct-node-visual {
    background: #58617488;
}

/*
    padding: .15rem .2rem;
     border-radius: .15rem;
    background: #3b404b;
*/

/* control glyph */
.ct-cg {
    font-style: normal;
    color: #636e83;
    font-weight:normal;
}

.ct-splitter {
    cursor: col-resize;
    max-width: 50%
}

/*
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 50%;
*/

.ct-link {
   color: #268bd2;
}

.ct-latex {
   color: #abb2bf;
}

.ct-strong {
}
.ct-em {
}
.ct-del {
    text-decoration-color: #FFFFFF33;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
