/** LATER how to apply them as a theme? */

/** general classes **/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.ct-warning-inline {
    padding: .2rem .4rem;
    font-size: 60%;
    color: #856404;
    background-color: #FFF2CF;
    border-radius: .2rem;
    vertical-align: middle;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.ct-error-inline {
    padding: .2rem .4rem;
    font-size: 60%;
    color: #721c24;
    background-color: #EDCED1;
    vertical-align: middle;
    border-radius: .2rem;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.text-selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.ct-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.ct-scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.ct-scroll::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
.ct-scroll::-webkit-scrollbar-thumb {
    background: #5A637580;
}

/* Handle on hover */

.ct-scroll::-webkit-scrollbar-thumb:hover {
    background: #747D9180;
}

.ct-sans {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 95%;
}

.ct-input-label {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 95%;
  color: #ccccccaa;
}

.ct-input {
  outline: 0px solid transparent;
  background: #1b1d23;
  border: 1px solid #181a1f;
  padding: 4px;
  min-width: 240px;
  min-height: 23px;
  color: #cccccc;
}

.ct-input-large {
  font-size: 18px;
}

.ct-input:focus {
    border: 1px solid #528bff;
}

.ct-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  background: #202328;
  border: 1px solid #474a4f;
  font-size: 14px;
  color: #cccccc;
  overflow: hidden;
}

.ct-menu-item {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 4px;
  min-width: 320px;
  padding-bottom: 4px;
}

.ct-kbd-small {
    padding: .1rem .2rem;
    font-size: 80%;
    color: #DDDDDD;
    background-color: #676f80;
    border-radius: .15rem;
}


.ct-selected {
  background: #90a2b922;
}

.ct-not-selected {
}

.ct-not-selected:hover {
  background: #90a2b911;
}


.ct-not-selected {
}

/** command keys **/

.ct-kbd {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: #333333;
    background-color: #DDDDDD;
    border-radius: .2rem;
}

.ct-kbd2 {
    padding: .2rem .4rem;
    font-size: 87.5%;
    color: #CCCCCC;
    background-color: #444444;
    border-radius: .2rem;
}

/** client view **/

.ct-splitter {
    cursor: col-resize;
    max-width: 50%
}

.ct-tab-icon {
   width: 12px;
   height: 12px;
   float: left;
   color: #555c75;
   margin-top: 5px;
   margin-left: 8px;
   background-size: contain;
   background-repeat: no-repeat;
   background-origin: content-box;
}


.ct-tab-keyboard {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NzYgNTEyIj48cGF0aCBmaWxsPSIjNTU1Yzc1IiBkPSJNNTI4IDQ0OEg0OGMtMjYuNTEgMC00OC0yMS40OS00OC00OFYxMTJjMC0yNi41MSAyMS40OS00OCA0OC00OGg0ODBjMjYuNTEgMCA0OCAyMS40OSA0OCA0OHYyODhjMCAyNi41MS0yMS40OSA0OC00OCA0OHpNMTI4IDE4MHYtNDBjMC02LjYyNy01LjM3My0xMi0xMi0xMkg3NmMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnY0MGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDQwYzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bTk2IDB2LTQwYzAtNi42MjctNS4zNzMtMTItMTItMTJoLTQwYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjQwYzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoNDBjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptOTYgMHYtNDBjMC02LjYyNy01LjM3My0xMi0xMi0xMmgtNDBjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2NDBjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmg0MGM2LjYyNyAwIDEyLTUuMzczIDEyLTEyem05NiAwdi00MGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC00MGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnY0MGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDQwYzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bTk2IDB2LTQwYzAtNi42MjctNS4zNzMtMTItMTItMTJoLTQwYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjQwYzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoNDBjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptLTMzNiA5NnYtNDBjMC02LjYyNy01LjM3My0xMi0xMi0xMmgtNDBjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2NDBjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmg0MGM2LjYyNyAwIDEyLTUuMzczIDEyLTEyem05NiAwdi00MGMwLTYuNjI3LTUuMzczLTEyLTEyLTEyaC00MGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnY0MGMwIDYuNjI3IDUuMzczIDEyIDEyIDEyaDQwYzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bTk2IDB2LTQwYzAtNi42MjctNS4zNzMtMTItMTItMTJoLTQwYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjQwYzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoNDBjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptOTYgMHYtNDBjMC02LjYyNy01LjM3My0xMi0xMi0xMmgtNDBjLTYuNjI3IDAtMTIgNS4zNzMtMTIgMTJ2NDBjMCA2LjYyNyA1LjM3MyAxMiAxMiAxMmg0MGM2LjYyNyAwIDEyLTUuMzczIDEyLTEyem0tMzM2IDk2di00MGMwLTYuNjI3LTUuMzczLTEyLTEyLTEySDc2Yy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjQwYzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoNDBjNi42MjcgMCAxMi01LjM3MyAxMi0xMnptMjg4IDB2LTQwYzAtNi42MjctNS4zNzMtMTItMTItMTJIMTcyYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjQwYzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoMjMyYzYuNjI3IDAgMTItNS4zNzMgMTItMTJ6bTk2IDB2LTQwYzAtNi42MjctNS4zNzMtMTItMTItMTJoLTQwYy02LjYyNyAwLTEyIDUuMzczLTEyIDEydjQwYzAgNi42MjcgNS4zNzMgMTIgMTIgMTJoNDBjNi42MjcgMCAxMi01LjM3MyAxMi0xMnoiLz48L3N2Zz4= ) /* fas(solid/keyboard) */;
}

.ct-tab-quick {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBmaWxsPSIjNTU1Yzc1IiBkPSJNMCA1MTJWNDhDMCAyMS40OSAyMS40OSAwIDQ4IDBoMjg4YzI2LjUxIDAgNDggMjEuNDkgNDggNDh2NDY0TDE5MiA0MDAgMCA1MTJ6Ii8+PC9zdmc+ ) /* fas(solid/bookmark) */;
}

.ct-tabs {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 22px;
    float: left;
    -webkit-transform:
        rotateZ(90deg) rotateX(180deg) rotateY(-180deg)

        translate3d(calc(24px - 100%),100%,0);
    -webkit-transform-origin: 0 100%;
}

.ct-tabs-divider {
    border-left: 1px solid #474a4f;
}
.ct-tabs > span {
    display: flex;
    flex-direction: row;
    float: left;
    height: 22px;
    border-left: 1px solid #474a4f;
}

.ct-tabs > span > a {
    font-size: 14px;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    color: #bbbbbb !important;
    vertical-align: middle;
    margin-top: 0px;
}
.ct-tabs > span:hover {
    background: #58617444;
}

.ct-tab-selected {
   background: #1f2328;
}

.ct-tab-selected:hover {
   background: #1f2328 !important;
}

/* document view */
.ct-document-style {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'Gentium Book Basic', serif, sans-serif;
  font-size: 18px;
}

.ct-d-folded > .ct-d-box > .ct-d-childlist {
  display: none;
}

.ct-d-frame {
   display: flex;
   flex-direction: row;
   width: 100%;
}

.ct-d-hold {
    width: 18px;
    height: 18px;
    margin-left: 4px;
    margin-top: 9px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 3px;
    color: #555c75;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNTU1Yzc1IiBkPSJNMjU2IDhDMTE5IDggOCAxMTkgOCAyNTZzMTExIDI0OCAyNDggMjQ4IDI0OC0xMTEgMjQ4LTI0OFMzOTMgOCAyNTYgOHoiLz48L3N2Zz4= ) /* fas(solid/circle) */;
    order: -1;
    opacity: 0.4;
}

.ct-d-hold-folded {
    opacity: 1;
}

.ct-d-box {
  margin-left: 4px;
  width: 100%
}

.ct-d-ul {
}

.ct-d-ol {
}

.ct-d-ps > .ct-d-childlist > .ct-d-frame > .ct-d-hold {
    margin-left: -12px;
    width: 18px;
    height: 18px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjNTU1Yzc1IiBkPSJNNDA4IDMySDE3Ny41MzFDODguOTQ4IDMyIDE2LjA0NSAxMDMuMzM1IDE2IDE5MS45MTggMTUuOTU2IDI4MC4zMjEgODcuNjA3IDM1MiAxNzYgMzUydjEwNGMwIDEzLjI1NSAxMC43NDUgMjQgMjQgMjRoMzJjMTMuMjU1IDAgMjQtMTAuNzQ1IDI0LTI0VjExMmgzMnYzNDRjMCAxMy4yNTUgMTAuNzQ1IDI0IDI0IDI0aDMyYzEzLjI1NSAwIDI0LTEwLjc0NSAyNC0yNFYxMTJoNDBjMTMuMjU1IDAgMjQtMTAuNzQ1IDI0LTI0VjU2YzAtMTMuMjU1LTEwLjc0NS0yNC0yNC0yNHoiLz48L3N2Zz4= ) /* fas(solid/paragraph) */;
}


.ct-d-dl {
}


/**
  border-left: 3px solid #555c7566;
  margin-left: -14px;
  margin-bottom: 8px;
  margin-left: -2px;
.ct-d-cite > .ct-d-childlist {
  margin-top: -6px;
  padding-top: 6px;
}
*/

.ct-d-cite > .ct-rich {
  font-style: italic;
  text-align: right;
}

.ct-d-cite + .ct-d-hold {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNTU1Yzc1IiBkPSJNNDY0IDI1NmgtODB2LTY0YzAtMzUuMyAyOC43LTY0IDY0LTY0aDhjMTMuMyAwIDI0LTEwLjcgMjQtMjRWNTZjMC0xMy4zLTEwLjctMjQtMjQtMjRoLThjLTg4LjQgMC0xNjAgNzEuNi0xNjAgMTYwdjI0MGMwIDI2LjUgMjEuNSA0OCA0OCA0OGgxMjhjMjYuNSAwIDQ4LTIxLjUgNDgtNDhWMzA0YzAtMjYuNS0yMS41LTQ4LTQ4LTQ4em0tMjg4IDBIOTZ2LTY0YzAtMzUuMyAyOC43LTY0IDY0LTY0aDhjMTMuMyAwIDI0LTEwLjcgMjQtMjRWNTZjMC0xMy4zLTEwLjctMjQtMjQtMjRoLThDNzEuNiAzMiAwIDEwMy42IDAgMTkydjI0MGMwIDI2LjUgMjEuNSA0OCA0OCA0OGgxMjhjMjYuNSAwIDQ4LTIxLjUgNDgtNDhWMzA0YzAtMjYuNS0yMS41LTQ4LTQ4LTQ4eiIvPjwvc3ZnPg== ) /* fas(solid/quote-left) */ !important;
}


.ct-d-br {
}

.ct-d-heading + .ct-d-hold {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjNTU1Yzc1IiBkPSJNNDk2IDgwVjQ4YzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMzIwYy04LjgzNyAwLTE2IDcuMTYzLTE2IDE2djMyYzAgOC44MzcgNy4xNjMgMTYgMTYgMTZoMzcuNjIxdjEyOEgxNTQuMzc5Vjk2SDE5MmM4LjgzNyAwIDE2LTcuMTYzIDE2LTE2VjQ4YzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMzJjLTguODM3IDAtMTYgNy4xNjMtMTYgMTZ2MzJjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNmgzNy4yNzV2MzIwSDMyYy04LjgzNyAwLTE2IDcuMTYzLTE2IDE2djMyYzAgOC44MzcgNy4xNjMgMTYgMTYgMTZoMTYwYzguODM3IDAgMTYtNy4xNjMgMTYtMTZ2LTMyYzAtOC44MzctNy4xNjMtMTYtMTYtMTZoLTM3LjYyMVYyODhIMzU3LjYydjEyOEgzMjBjLTguODM3IDAtMTYgNy4xNjMtMTYgMTZ2MzJjMCA4LjgzNyA3LjE2MyAxNiAxNiAxNmgxNjBjOC44MzcgMCAxNi03LjE2MyAxNi0xNnYtMzJjMC04LjgzNy03LjE2My0xNi0xNi0xNmgtMzcuMjc1Vjk2SDQ4MGM4LjgzNyAwIDE2LTcuMTYzIDE2LTE2eiIvPjwvc3ZnPg== ) /* fas(solid/heading) */ !important;
}



.ct-d-h1 > .ct-rich {
  font-size: 2.5rem;
  font-weight: 500;
}

.ct-d-folded > .ct-d-h1 > .ct-rich {
  font-size: 18px;
}

.ct-d-h1 + .ct-d-hold {
    margin-top: 25px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjNTU1Yzc1IiBkPSJNNDQ4IDM2MFYyNGMwLTEzLjMtMTAuNy0yNC0yNC0yNEg5NkM0MyAwIDAgNDMgMCA5NnYzMjBjMCA1MyA0MyA5NiA5NiA5NmgzMjhjMTMuMyAwIDI0LTEwLjcgMjQtMjR2LTE2YzAtNy41LTMuNS0xNC4zLTguOS0xOC43LTQuMi0xNS40LTQuMi01OS4zIDAtNzQuNyA1LjQtNC4zIDguOS0xMS4xIDguOS0xOC42ek0xMjggMTM0YzAtMy4zIDIuNy02IDYtNmgyMTJjMy4zIDAgNiAyLjcgNiA2djIwYzAgMy4zLTIuNyA2LTYgNkgxMzRjLTMuMyAwLTYtMi43LTYtNnYtMjB6bTAgNjRjMC0zLjMgMi43LTYgNi02aDIxMmMzLjMgMCA2IDIuNyA2IDZ2MjBjMCAzLjMtMi43IDYtNiA2SDEzNGMtMy4zIDAtNi0yLjctNi02di0yMHptMjUzLjQgMjUwSDk2Yy0xNy43IDAtMzItMTQuMy0zMi0zMiAwLTE3LjYgMTQuNC0zMiAzMi0zMmgyODUuNGMtMS45IDE3LjEtMS45IDQ2LjkgMCA2NHoiLz48L3N2Zz4= ) /* fas(solid/book) */;
    padding: 2px;
}

.ct-d-h1 + .ct-d-hold-folded {
    margin-top: 9px;
}

.ct-d-h2 > .ct-rich  {
  font-size: 2rem;
  font-weight: 500;
}

.ct-d-h2 + .ct-d-hold {
    margin-top: 18px;
}

.ct-d-h3 > .ct-rich {
  font-size: 1.75rem;
  font-weight: 500;
}

.ct-d-h3 + .ct-d-hold {
    margin-top: 16px;
}

.ct-d-h4 > .ct-rich {
  font-size: 1.5rem;
  font-weight: 500;
}

.ct-d-h4 + .ct-d-hold {
    margin-top: 13px;
}

.ct-d-h5 > .ct-rich {
  font-size: 1.25rem;
  font-weight: 500;
}

.ct-d-h5 + .ct-d-hold {
    margin-top: 9px;
}

.ct-d-h6 > .ct-rich {
  font-size: 1rem;
  font-weight: 500;
}

.ct-d-h6 + .ct-d-hold {
    margin-top: 6px;
}



.ct-node-visual {
    background: #58617488;
}

.ct-window-inactive .ct-node-visual {
    background: #58617466;
}



.ct-node-visual-move {
  outline-offset: -2px;
  outline: 2px solid #d8617488;
}

.ct-window-inactive .ct-node-visual-move {
  outline-offset: -2px;
  outline: 2px solid #d8617466;
}

/**  rich view **/
.ct-rich {
    margin-bottom: 0rem;
    outline: 0px solid transparent;
    padding: 4px;
}


.ct-image {
  vertical-align: baseline;
}


/**
selection
**/

::selection {
    background: #d8617488;
}

::selection:window-inactive {
  background: #d8617466;
}

/**
code mirror cursor

**/

.cm-fat-cursor .CodeMirror-cursor {
    background-color: #d86174AA;
}

.cm-animate-fat-cursor {
    background-color: #d86174AA;
}

.cm-fat-cursor-mark {
    background-color: #d86174AA;
}



/**

block selection

**/
.ct-selection {
    background: #d8617433;
}


.ct-window-inactive .ct-selection {
    background: #d8617422;
}

.ct-code {
    font-style: normal;
    font-weight:normal;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 85%;
    color: #f0c5ce;
}

.ct-link {
   color: #268bd2;
}

.ct-latex {
   color: #abb2bf;
}

.ct-strong {
}

.ct-em {
}
.ct-del {
    text-decoration-color: #FFFFFF33;
}

/* control glyph */
.ct-cg {
    font-style: normal;
    color: #636e83;
    font-weight:normal;
}



.ct-cg-shadow {
 text-shadow: 0px 0.5em #636e83;
}


/** source view **/

.ct-code-pre {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 70%;
    white-space: pre-wrap;
    margin-bottom : 0px;
    padding: 4px;
}


/*
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 50%;
*/