/** LATER how to apply them as a theme? */



/* apply it on entire editor for now */
.ct-root {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: 'Gentium Book Basic', serif;
  font-size: 18px;
}

.ct-root::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.ct-root::-webkit-scrollbar-track {
    background: #282c34;
}

/* Handle */
.ct-root::-webkit-scrollbar-thumb {
    background: #5A637580;
}

/* Handle on hover */
.ct-root::-webkit-scrollbar-thumb:hover {
    background: #747D9180;
}


.ct-pre {
  white-space: pre-wrap;
}

.ct-content {
}

::selection {
    background: #d8617488;
}


.ct-code {
    font-style: normal;
    font-weight:normal;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 85%;
    color: #f0c5ce;
}

.ct-node-visual {
    background: #58617488;
}

/*
    padding: .15rem .2rem;
     border-radius: .15rem;
    background: #3b404b;
*/

/* control glyph */
.ct-cg {
    font-style: normal;
    color: #636e83;
    font-weight:normal;
}

.ct-splitter {
    cursor: col-resize;
    max-width: 50%
}

/*
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 50%;
*/

.ct-link {
   color: #268bd2;
}

.ct-latex {
   color: #abb2bf;
}

.ct-strong {
}
.ct-em {
}
.ct-del {
    text-decoration-color: #FFFFFF33;
}
